{
  "openapi": "3.0.3",
  "info": {
    "title": "NEIS 교육정보 개방 포털 - 학교급식 API",
    "description": "나이스(NEIS) 교육정보 개방 포털에서 제공하는 학교기본정보 및 급식식단정보 오픈 API 명세서를 기반으로 생성한 OpenAPI 문서입니다.",
    "version": "1.0.0",
    "contact": {
      "name": "NEIS 교육정보 개방 포털",
      "url": "https://open.neis.go.kr/"
    }
  },
  "servers": [
    {
      "url": "https://open.neis.go.kr/hub",
      "description": "NEIS Open API 서버"
    }
  ],
  "paths": {
    "/schoolInfo": {
      "get": {
        "summary": "학교기본정보",
        "description": "전국 각급 학교의 기본정보(학교명, 소재지, 설립정보 등)를 조회합니다.",
        "operationId": "getSchoolInfo",
        "tags": [
          "학교기본정보"
        ],
        "parameters": [
          {
            "name": "KEY",
            "in": "query",
            "description": "인증키. 기본값 : sample key",
            "required": false,
            "schema": {
              "type": "string",
              "default": "sample"
            }
          },
          {
            "name": "Type",
            "in": "query",
            "description": "호출 문서(xml, json). 기본값 : xml",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "xml",
                "json"
              ],
              "default": "xml"
            }
          },
          {
            "name": "pIndex",
            "in": "query",
            "description": "페이지 위치. 기본값 : 1(sample key는 1 고정)",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "pSize",
            "in": "query",
            "description": "페이지 당 요청 숫자. 기본값 : 100(sample key는 5 고정)",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 100
            }
          },
          {
            "name": "ATPT_OFCDC_SC_CODE",
            "in": "query",
            "description": "시도교육청코드. 학교를 관리하는 시도교육청 기관코드",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "SD_SCHUL_CODE",
            "in": "query",
            "description": "행정표준코드. 각급 기관의 행정업무에 필요한 행정코드를 표준화하여 정해진 절차에 따라 제정·고시한 행정코드 ※ 행정안전부 행정표준코드 관리시스템 제공(code.go.kr)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "SCHUL_NM",
            "in": "query",
            "description": "학교명. 학교의 명칭",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "SCHUL_KND_SC_NM",
            "in": "query",
            "description": "학교종류명. 학교의 종류",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "LCTN_SC_NM",
            "in": "query",
            "description": "시도명. 학교가 소속되어 있는 시도교육청이 위치한 시도",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "FOND_SC_NM",
            "in": "query",
            "description": "설립명. 학교의 설립주체에 따른 구분",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "정상 응답",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SchoolInfoResponse"
                }
              }
            }
          },
          "default": {
            "description": "오류 응답",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/mealServiceDietInfo": {
      "get": {
        "summary": "급식식단정보",
        "description": "전국 각급 학교의 급식식단정보(요리명, 원산지, 칼로리, 영양정보 등)를 조회합니다.",
        "operationId": "getMealServiceDietInfo",
        "tags": [
          "급식식단정보"
        ],
        "parameters": [
          {
            "name": "KEY",
            "in": "query",
            "description": "인증키. 기본값 : sample key",
            "required": false,
            "schema": {
              "type": "string",
              "default": "sample"
            }
          },
          {
            "name": "Type",
            "in": "query",
            "description": "호출 문서(xml, json). 기본값 : xml",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "xml",
                "json"
              ],
              "default": "xml"
            }
          },
          {
            "name": "pIndex",
            "in": "query",
            "description": "페이지 위치. 기본값 : 1(sample key는 1 고정)",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "pSize",
            "in": "query",
            "description": "페이지 당 요청 숫자. 기본값 : 100(sample key는 5 고정)",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 100
            }
          },
          {
            "name": "ATPT_OFCDC_SC_CODE",
            "in": "query",
            "description": "시도교육청코드. 시도교육청구분코드",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "SD_SCHUL_CODE",
            "in": "query",
            "description": "행정표준코드. 행정표준코드",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "MMEAL_SC_CODE",
            "in": "query",
            "description": "식사코드. 식사구분코드",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "MLSV_YMD",
            "in": "query",
            "description": "급식일자. 급식일자 (YYYYMMDD)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "MLSV_FROM_YMD",
            "in": "query",
            "description": "급식시작일자. 급식시작일자 (YYYYMMDD)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "MLSV_TO_YMD",
            "in": "query",
            "description": "급식종료일자. 급식종료일자 (YYYYMMDD)",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "정상 응답",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MealServiceDietInfoResponse"
                }
              }
            }
          },
          "default": {
            "description": "오류 응답",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "SchoolInfoRow": {
        "type": "object",
        "properties": {
          "ATPT_OFCDC_SC_CODE": {
            "type": "string",
            "description": "시도교육청코드 - 학교를 관리하는 시도교육청 기관코드"
          },
          "ATPT_OFCDC_SC_NM": {
            "type": "string",
            "description": "시도교육청명 - 학교를 관리하는 시도교육청 명칭"
          },
          "SD_SCHUL_CODE": {
            "type": "string",
            "description": "행정표준코드"
          },
          "SCHUL_NM": {
            "type": "string",
            "description": "학교명 - 학교의 명칭"
          },
          "ENG_SCHUL_NM": {
            "type": "string",
            "description": "영문학교명 - 학교의 영문이름"
          },
          "SCHUL_KND_SC_NM": {
            "type": "string",
            "description": "학교종류명 - 학교의 종류"
          },
          "LCTN_SC_NM": {
            "type": "string",
            "description": "시도명 - 학교가 소속되어 있는 시도교육청이 위치한 시도"
          },
          "JU_ORG_NM": {
            "type": "string",
            "description": "관할조직명 - 학교가 소속되어 있는 지역의 관할 시도교육청"
          },
          "FOND_SC_NM": {
            "type": "string",
            "description": "설립명 - 학교의 설립주체에 따른 구분"
          },
          "ORG_RDNZC": {
            "type": "string",
            "description": "도로명우편번호 - 학교의 도로명주소 우편번호"
          },
          "ORG_RDNMA": {
            "type": "string",
            "description": "도로명주소 - 학교의 도로명주소"
          },
          "ORG_RDNDA": {
            "type": "string",
            "description": "도로명상세주소 - 학교의 도로명주소의 상세주소"
          },
          "ORG_TELNO": {
            "type": "string",
            "description": "전화번호 - 학교의 대표 전화번호"
          },
          "HMPG_ADRES": {
            "type": "string",
            "description": "홈페이지주소 - 학교의 홈페이지 주소(URL)"
          },
          "COEDU_SC_NM": {
            "type": "string",
            "description": "남녀공학구분명"
          },
          "ORG_FAXNO": {
            "type": "string",
            "description": "팩스번호 - 학교의 대표 팩스번호"
          },
          "HS_SC_NM": {
            "type": "string",
            "description": "고등학교구분명 - 고등학교의 교육과정에 따른 구분"
          },
          "INDST_SPECL_CCCCL_EXST_YN": {
            "type": "string",
            "description": "산업체특별학급존재여부"
          },
          "HS_GNRL_BUSNS_SC_NM": {
            "type": "string",
            "description": "고등학교일반전문구분명"
          },
          "SPCLY_PURPS_HS_ORD_NM": {
            "type": "string",
            "description": "특수목적고등학교계열명"
          },
          "ENE_BFE_SEHF_SC_NM": {
            "type": "string",
            "description": "입시전후기구분명"
          },
          "DGHT_SC_NM": {
            "type": "string",
            "description": "주야구분명 - 학교의 정규수업 시간에 따른 주간과 야간과정의 구분"
          },
          "FOND_YMD": {
            "type": "string",
            "description": "설립일자 - 학교의 설립인가를 받은 일자"
          },
          "FOAS_MEMRD": {
            "type": "string",
            "description": "개교기념일 - 학교의 설립 이후 학생들이 처음으로 입학한 일자"
          },
          "LOAD_DTM": {
            "type": "string",
            "description": "수정일자 - 정보가 수정 및 저장된 일자"
          }
        }
      },
      "SchoolInfoResponse": {
        "type": "object",
        "properties": {
          "schoolInfo": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "head": {
                  "type": "array",
                  "items": {
                    "type": "object"
                  }
                },
                "row": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SchoolInfoRow"
                  }
                }
              }
            }
          },
          "RESULT": {
            "$ref": "#/components/schemas/ResultCode"
          }
        }
      },
      "MealServiceDietInfoRow": {
        "type": "object",
        "properties": {
          "ATPT_OFCDC_SC_CODE": {
            "type": "string",
            "description": "시도교육청코드 - 시도교육청구분코드"
          },
          "ATPT_OFCDC_SC_NM": {
            "type": "string",
            "description": "시도교육청명 - 시도교육청구분명"
          },
          "SD_SCHUL_CODE": {
            "type": "string",
            "description": "행정표준코드"
          },
          "SCHUL_NM": {
            "type": "string",
            "description": "학교명"
          },
          "MMEAL_SC_CODE": {
            "type": "string",
            "description": "식사코드 - 식사구분코드"
          },
          "MMEAL_SC_NM": {
            "type": "string",
            "description": "식사명 - 식사구분명"
          },
          "MLSV_YMD": {
            "type": "string",
            "description": "급식일자"
          },
          "MLSV_FGR": {
            "type": "string",
            "description": "급식인원수"
          },
          "DDISH_NM": {
            "type": "string",
            "description": "요리명"
          },
          "ORPLC_INFO": {
            "type": "string",
            "description": "원산지정보"
          },
          "CAL_INFO": {
            "type": "string",
            "description": "칼로리정보"
          },
          "NTR_INFO": {
            "type": "string",
            "description": "영양정보"
          },
          "MLSV_FROM_YMD": {
            "type": "string",
            "description": "급식시작일자"
          },
          "MLSV_TO_YMD": {
            "type": "string",
            "description": "급식종료일자"
          },
          "LOAD_DTM": {
            "type": "string",
            "description": "수정일자 - 적재일시"
          }
        }
      },
      "MealServiceDietInfoResponse": {
        "type": "object",
        "properties": {
          "mealServiceDietInfo": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "head": {
                  "type": "array",
                  "items": {
                    "type": "object"
                  }
                },
                "row": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/MealServiceDietInfoRow"
                  }
                }
              }
            }
          },
          "RESULT": {
            "$ref": "#/components/schemas/ResultCode"
          }
        }
      },
      "ResultCode": {
        "type": "object",
        "description": "메시지 설명 코드",
        "properties": {
          "CODE": {
            "type": "string",
            "description": "결과 코드",
            "enum": [
              "INFO-000",
              "INFO-100",
              "INFO-200",
              "INFO-300",
              "ERROR-290",
              "ERROR-300",
              "ERROR-310",
              "ERROR-333",
              "ERROR-336",
              "ERROR-337",
              "ERROR-500",
              "ERROR-600",
              "ERROR-601"
            ]
          },
          "MESSAGE": {
            "type": "string",
            "description": "결과 메시지"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "RESULT": {
            "$ref": "#/components/schemas/ResultCode"
          }
        }
      }
    }
  }
}
